<?!= include('page_header'); ?>
<section class="page-section">
    <div id="declareInfo" class="warning selfset-2-3">
        <p>參選資格：
            <?!= getQualification(); ?>
        </p>
        <p>應選名額：
            <?!= getSeat(); ?>
        </p>
    </div>
    <form enctype="multipart/form-data" id="declareForm" onsubmit="handleFormSubmit(this)" class="pure-form pure-form-aligned selfset-2-3">
        <fieldset>
            <h3 class="pure-controls subtitle">會長</h3>
            <input type="hidden" name="tid" value="<?!= getTid() ?>" />
            <div class="pure-control-group">
                <label for="P_Name">姓名</label>
                <input name="P_Name" type="text" placeholder="例如：陳亮妍" class="pure-input-1" required/>
            </div>
            <div class="pure-control-group">
                <label for="P_DepartmentGrade">系級</label>
                <input name="P_DepartmentGrade" type="text" placeholder="例如：水利工程學系五年級" class="pure-input-1" required/>
            </div>
            <div class="pure-control-group">
                <label for="P_StudentId">學號</label>
                <input name="P_StudentId" type="text" placeholder="例如：B02394567" class="pure-input-1" required/>
            </div>
            <div class="pure-control-group">
                <label for="P_Phone">連絡電話</label>
                <input name="P_Phone" type="tel" placeholder="例如：0912-345-678" class="pure-input-1" required/>
            </div>
            <div class="pure-control-group">
                <label for="P_Email">常用電子郵件信箱</label>
                <input name="P_Email" type="email" placeholder="例如：b02394567@hmail.com" class="pure-input-1" id="emailAddress" required/>
            </div>
            <div class="pure-control-group">
                <label for="P_Experience">經歷</label>
                <textarea name="P_Experience" class="pure-input-1" rows="4" required/></textarea>
            </div>
            <div class="pure-control-group">
                <label for="P_Enrollment">在學證明</label>
                <input name="P_Enrollment" type="file" class="pure-input-1" onchange="loadFile(event, 'P_Enrollment')" required/>
            </div>
            <div class="pure-controls attach">
                <div class="comment">
                    加蓋註冊組章戳之學生證影本的檔案，或是在學證明的檔案
                    <br/> 在學證明可以在登入NTU ePo（<a href="https://if163.aca.ntu.edu.tw/eportfolio/" target="_blank">https://if163.aca.ntu.edu.tw/eportfolio/</a>）後下載取得
                    <br/>
                    <img src="#" id="preview-P_Enrollment" alt="非圖檔格式，無法顯示預覽" class="preview" />
                </div>
            </div>
            <div class="pure-control-group">
                <label for="P_Photo">相片</label>
                <input name="P_Photo" type="file" placeholder="請選擇檔案" class="pure-input-1" onchange="loadFile(event, 'P_Photo')" required/>
            </div>
            <div class="pure-controls attach">
                <div class="comment">
                    相片之格式為2吋大小（3.5×4.5cm），解析度不得低於300dpi；或提供420×540像素以上之檔案
                    <br/>
                    <img src="#" id="preview-P_Photo" alt="非圖檔格式，無法顯示預覽" class="preview" />
                </div>
            </div>
            <h3 class="pure-controls subtitle">副會長</h3>
            <div class="pure-control-group">
                <label for="V_Name">姓名</label>
                <input name="V_Name" type="text" placeholder="例如：陳亮妍" class="pure-input-1" required/>
            </div>
            <div class="pure-control-group">
                <label for="V_DepartmentGrade">系級</label>
                <input name="V_DepartmentGrade" type="text" placeholder="例如：水利工程學系五年級" class="pure-input-1" required/>
            </div>
            <div class="pure-control-group">
                <label for="V_StudentId">學號</label>
                <input name="V_StudentId" type="text" placeholder="例如：B02394567" class="pure-input-1" required/>
            </div>
            <div class="pure-control-group">
                <label for="V_Phone">連絡電話</label>
                <input name="V_Phone" type="tel" placeholder="例如：0912-345-678" class="pure-input-1" required/>
            </div>
            <div class="pure-control-group">
                <label for="V_Email">常用電子郵件信箱</label>
                <input name="V_Email" type="email" placeholder="例如：b02394567@hmail.com" class="pure-input-1" required/>
            </div>
            <div class="pure-control-group">
                <label for="V_Experience">經歷</label>
                <textarea name="V_Experience" class="pure-input-1" rows="4" required/></textarea>
            </div>
            <div class="pure-control-group">
                <label for="V_Enrollment">在學證明</label>
                <input name="V_Enrollment" type="file" class="pure-input-1" onchange="loadFile(event, 'V_Enrollment')" required/>
            </div>
            <div class="pure-controls attach">
                <div class="comment">
                    加蓋註冊組章戳之學生證影本的檔案，或是在學證明的檔案
                    <br/> 在學證明可以在登入NTU ePo（<a href="https://if163.aca.ntu.edu.tw/eportfolio/" target="_blank">https://if163.aca.ntu.edu.tw/eportfolio/</a>）後下載取得
                    <br/>
                    <img src="#" id="preview-V_Enrollment" alt="非圖檔格式，無法顯示預覽" class="preview" />
                </div>
            </div>
            <div class="pure-control-group">
                <label for="V_Photo">相片</label>
                <input name="V_Photo" type="file" placeholder="請選擇檔案" class="pure-input-1" onchange="loadFile(event, 'V_Photo')" required/>
            </div>
            <div class="pure-controls attach">
                <div class="comment">
                    相片之格式為2吋大小（3.5×4.5cm），解析度不得低於300dpi；或提供420×540像素以上之檔案
                    <br/>
                    <img src="#" id="preview-V_Photo" alt="非圖檔格式，無法顯示預覽" class="preview" />
                </div>
            </div>
            <div class="pure-control-group">
                <label for="Politics">政見</label>
                <textarea name="Politics" class="pure-input-1" rows="8" required/></textarea>
            </div>
            <?
																																																																																																																																																																																																																																								          if (presentationList())
																																																																																																																																																																																																																																										            {
																																																																																																																																																																																																																																													        ?>
                <div class="pure-control-group">
                    <label for="Presentation">欲參與之政見發表場次（可複選）</label>
                    <div class="pure-input-1 check">
                        <?
																																																																																																																																																																																																																																																								              for (var i = 0; i != presentationList().length; ++i)
																																																																																																																																																																																																																																																											              {
																																																																																																																																																																																																																																																														            ?>
                            <input name="Presentation" type="checkbox" value="<?!= presentationList()[i][0] ?>" />
                            <?!= presentationList()[i][1] ?> -
                                <?!= presentationList()[i][2] ?>
                                    <br/>
                                    <?
																																																																																																																																																																																																																																																																						              }
																																																																																																																																																																																																																																																																									            ?>
                    </div>
                </div>
                <?
																																																																																																																																																																																																																																																																																		            }
																																																																																																																																																																																																																																																																																					        ?>
                    <div class="warning">
                        <h3>注意事項：</h3>
                        <ol>
                            <li>同意以上資訊提供選委會製作選舉公告二（政見與經歷）。</li>
                            <li>表單送出後即代表登記完成，選委會不受理撤回登記。</li>
                            <li>如需修改部分內容，請於5/1晚間23:59登記截止前以電子郵件聯絡選委會辦理，逾期不予受理。</li>
                            <li>表單送出後會出現完成登記的提示頁面。</li>
                        </ol>
                    </div>
                    <div class="pure-controls">
                        <label for="Right" class="pure-checkbox">
                            <input id="cb" name="Right" type="checkbox" value="TRUE" /> 已詳閱以上說明。
                        </label>
                        <input class="pure-button pure-button-primary" type="submit" name="submitted" id="sendbtn" value="送出" />
                        <div id="waiting"></div>
                    </div>
        </fieldset>
    </form>
    <div id="result" class="selfset-2-3"></div>
</section>
<?!= include('page_footer'); ?>
