<?!= include('page_header'); ?>
<section class="page-section">
  <div id="declare">
    <div id="declareInfo" class="warning selfset-2-3">
      <p>參選資格：
        <?!= getQualification(); ?>
      </p>
      <p>應選名額：
        <?!= getSeats(); ?>
      </p>
    </div>
    <form enctype="multipart/form-data" id="declareForm" onsubmit="handleFormSubmit(this)" class="pure-form pure-form-aligned selfset-2-3">
      <fieldset>
      <input type="hidden" name="tid" value="<?!= getTid() ?>"/>
        <div class="pure-control-group">
          <label for="Name">姓名</label>
          <input name="Name" type="text" placeholder="例如：陳亮妍" class="pure-input-1" required/>
        </div>
        <div class="pure-control-group">
          <label for="DepartmentGrade">系級</label>
          <input name="DepartmentGrade" type="text" placeholder="例如：水利工程學系五年級" class="pure-input-1" required/>
        </div>
        <div class="pure-control-group">
          <label for="StudentId">學號</label>
          <input name="StudentId" type="text" placeholder="例如：B02394567" class="pure-input-1" required/>
        </div>
        <div class="pure-control-group">
          <label for="Phone">連絡電話</label>
          <input name="Phone" type="tel" placeholder="例如：0912-345-678" class="pure-input-1" required/>
        </div>
        <div class="pure-control-group">
          <label for="Email">常用電子郵件信箱</label>
          <input name="Email" type="email" placeholder="例如：b02394567@hmail.com" class="pure-input-1" id="emailAddress" required/>
        </div>
        <div class="pure-control-group">
          <label for="Experience">經歷</label>
          <textarea name="Experience" class="pure-input-1" rows="4" required/></textarea>
        </div>
        <div class="pure-control-group">
          <label for="Politics">政見</label>
          <textarea name="Politics" class="pure-input-1" rows="4" required/></textarea>
        </div>
        <div class="pure-control-group">
          <label for="Enrollment">在學證明</label>
          <input name="Enrollment" type="file" class="pure-input-1" onchange="loadFile(event, 'Enrollment')" required/>
        </div>
        <div class="pure-controls attach">
          <div class="comment">
            加蓋註冊組章戳之學生證影本的檔案，或是在學證明的檔案<br/>
            在學證明可以在登入NTU ePo（<a href="https://if163.aca.ntu.edu.tw/eportfolio/" target="_blank">https://if163.aca.ntu.edu.tw/eportfolio/</a>）後下載取得<br/>
            <img src="#" id="preview-Enrollment" alt="非圖檔格式，無法顯示預覽" class="preview"/>
          </div>
        </div>
        <div class="pure-control-group">
          <label for="Photo">相片</label>
          <input name="Photo" type="file" placeholder="請選擇檔案" class="pure-input-1" onchange="loadFile(event, 'Photo')" required/>
        </div>
        <div class="pure-controls attach">
          <div class="comment">
            相片之格式為2吋大小（3.5×4.5cm），解析度不得低於300dpi；或提供420×540像素以上之檔案<br/>
            <img src="#" id="preview-Photo" alt="非圖檔格式，無法顯示預覽" class="preview"/>
          </div>
        </div>
        <?
          if (getPresentations())
          {
        ?>
        <div class="pure-control-group">
          <label for="Presentation">欲參與之政見發表場次（可複選）</label>
          <div class="pure-input-1 check">
            <input id="PresentationDummy" type="hidden" value="x" name="Presentation"/>
            <? for (var i = 0; i != getPresentations().length; ++i) { ?>
            <input name="Presentation" type="checkbox" value="<?!= getPresentations()[i][0] ?>" />
            <?!= getPresentations()[i][1] ?><br/>
            <? } ?>
          </div>
        </div>
        <?
          }
        ?>
        <div class="warning">
          <h3>注意事項：</h3>
          <ol>
            <? for (var i = 0; i != getWarnings().length; ++i) { ?>
            <li><?!= getWarnings()[i] ?></li>
            <? } ?>
            <li>表單送出後會出現完成登記的提示頁面。</li>
          </ol>
        </div>
        <div class="pure-controls">
          <label for="Right" class="pure-checkbox">
            <input id="Right" name="Right" type="checkbox" value="TRUE"/> 已詳閱以上說明。
          </label>
          <input class="pure-button pure-button-primary" type="submit" name="submitted" id="sendbtn" value="送出"/>
          <div id="waiting"></div>
        </div>
      </fieldset>
    </form>
  </div>
  <div id="result" class="selfset-2-3"></div>
</section>
<?!= include('page_footer'); ?>
