<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <title>
      <?!= getDeclareTitle() ?>選舉登記 - 臺大學生會選委會
    </title>
    <?!= include('pure'); ?>
    <?!= include('style'); ?>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <![endif]-->
    <?!= include('script'); ?>
  </head>
  <body>
    <header id="page-header">
      <h1>
				<img src="<?!= getLogoSrc() ?>" alt="國立臺灣大學學生會選舉罷免執行委員會" class="selfset-2-3"/><br/>
				<?!= getElectionTitle() ?><br/>
				<span id="form-title"><?!= getDeclareTitle() ?>選舉登記</span>
			</h1>
    </header>
