    <footer id="page-footer" class="page-section color-reverse">
      <div class="contact selfset-2-3">
        <h3>國立臺灣大學學生會選舉罷免執行委員會</h3>
        Election &amp; Recalling Execution Commission, National Taiwan University Student Association <br/>
        臺北市大安區羅斯福路四段一號（國立臺灣大學第一學生活動中心237室）<br/>
        電子郵件信箱：<a href="mailto:ntuscvote@gmail.com" target="_top">ntuscvote@gmail.com</a><br/>
        Facebook 粉絲專頁：<a href="https://www.facebook.com/NTUVote/" target="_blank">http://www.facebook.com/NTUVote</a>
      </div>
    </footer>
  </body>
</html>
